<% include ./partials/template/head.ejs %>
    <h1>carzar</h1>


    <h1><%= mTitle %></h1>
    <p>
        <%= mDescOne %>
    </p>
    <p>
        <%= mDescTwo %>
    </p>
    <p>
        <%= mDescThree %>
    </p>
    <p>
        <%= mDescFour %>
    </p>
    <p>
        <%= mDescFive %>
    </p>
    <p>
        <%= mDescSix %>
    </p>
    <p>
        <%= mDescSeven %>
    </p>
    <p>
        <%= mDescEight%>
    </p>

    <img src="<%= mImg %>">
