<% include ./partials/template/head.ejs %>

    <h2><%= mkmdUID %></h2>
    <p>
        <%= mkmdDescOne %>
    </p>
    <p>
        <%= mkmdDescTwo %>
    </p>
    <p>
        <%= mkmdDescThree %>
    </p>
    <p>
        <%= mkmdDescFour %>
    </p>
    <p>
        <%= mkmdDescFive %>
    </p>
    <p>
        <%= mkmdDescSix %>
    </p>
    <p>
        <%= mkmdDescSeven %>
    </p>
    <p>
        <%= mkmdDescEight %>
    </p>

    <img src="<%= mkmdImg %>">
    <img src="<%= mkImg %>">
